

#megasena {
    color: #209869;
    pointer-events: none;
    padding-left: 10px
}

#lotofacil {
    color: #930089;
    pointer-events: none;
    padding-left: 10px
}

#quina {
    color: #260085;
    pointer-events: none;
    padding-left: 10px
}