

.megasena {
    color: #209869;
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: roboto;
}

.lotofacil {
    color: #930089;
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: roboto;
}

.quina {
    color: #260085;
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: roboto;
}

.ativo {
    color: #ddd;
    pointer-events: none;
    padding-left: 10px;
    font-size: 1.8rem;
    font-family: roboto;
}

a:visited, a:link {
    text-decoration: none;
}